@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
    .pk{
       color: brown;
    }
    .dec{
      
        text-align: center;
        font-size: x-large;
        color: rgb(85, 141, 216);
        font-weight: 600;
       
        margin-left: 187px;
       
    
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .signup form {
      margin: 0 auto;
      max-width: 320px;
    }
    
    .main-panel1{
      background: rgba(203, 203, 210, 0.15);
      position: relative;    
      float: unset;     
      margin-top: -20px;
  }
      
    
  }
  /* signup */