@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    
    .main-panel1{
      background: rgba(203, 203, 210, 0.15);
      position: relative;
      

     
      float: unset;
      
      margin-top: -20px;
  }
      
    
  }